.content-wrapper {
  width: 1210px;
  margin: 0 auto;
  
  @include flexbox();
  flex-wrap: wrap;
}

.tablet-show,
.desk-hide {
  display: none;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 900;
  text-transform: none;
}

h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  
  padding: 15px 0;
}

.sub-title {
  font-size: 24px;
  line-height: 32px;
  margin: 30px 0 0 0;
  display: block;
  font-weight: normal;
}


.content-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  width: 100%;

  h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    text-transform: none;
    
    padding: 15px 0;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    
    padding: 15px 0;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    
    padding: 15px 0;
  }

  p {
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  strong {
    font-weight: 700;
    padding: 10px 0;
  }

  .form-item {
    margin-bottom: 20px;

    > span {
      display: inline-block;
      vertical-align: middle;
      min-width: 290px;
      max-width: 290px;
    }
  }

  .calculations {
    width: 100%;
    margin-top: 50px;
    padding: 55px 30px 60px 50px;
    background-color: #f0f4f9;

    p {
      font-size: 24px;
      line-height: 28px;

      span {
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
}

.breadcrumbs {
  padding-top: 47px;
  width: 100%;

  ul {
    list-style: none;
  }

  li {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;

    b,
    a {
      color: #cccccc;
      font-weight: normal;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #666666;
    }
  }
}

.content-title {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.description-block {
  width: 63%;
}

.four-in-row {

  .advantage-item {
    width: calc(25% - 12px);
    padding: 0 2.5%;
  }

  .object-item {
    width: calc(25% - 12px);
    margin-bottom: 18px;
    min-height: 272px;

    .hide-info {
      padding: 37px 0 0 90px;
    }

    .object-info {
      padding-top: 22px;
    }

    .photo {
      height: 170px;
    }
  }
}

.video-block {
  max-width: 100%;

  iframe {
    max-width: 100%;
  }
}

.separate-line {
  width: 100%;
  border-top: 1px solid #e7e6e6;
  margin: 30px 0;
}
