.component-advantages {
  width: 100%;
  margin: 0 0 40px;
  background-color: #f0f4f9;
  
  color: #221f1f;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  .content-wrapper {
    padding: 0 40px;
    justify-content: space-between;
  }
}

.advantage-item {
  text-align: center;

  &__icon {
    margin-bottom: 16px;
    min-height: 33px;
    // text-align: left;

    img {
      display: inline-block;
      vertical-align: top;
    }
  }
}
