.component-blue {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  &_double-elements {

    .clone-item {
      width: calc(50% - 15px);
    }
  }

  .component-title {
    margin-bottom: 40px;

    h1 {
      color: #fff;
      font-size: 36px;
      line-height: 40px;
      font-weight: bold;
      width: 100%;
    }
  }
}

.clone {

  &-content {
    width: 100%;
    
    @include flexbox()
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-item {
    width: calc(33.3333% - 20px);
    margin-bottom: 30px;
    background-color: #fff;
    background-position: left top;
    background-size: cover;
    padding: 25px 40px;

    @include box-shadow(0 14px 35px rgba(#000, .11));
    @include border-radius(5px);

    &__info {
      padding-top: 30px;
      margin-top: 30px;
      position: relative;
      font-size: 18px;
      font-weight: 700;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 30px;
        height: 1px;
        top: 0;
        left: 0;

        @include gradient-horizontal();
      }
    }
  }
}
