.component-cabinet_description {
  background: url(../images/cabinet_bg.jpg) left top no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin: 0;

  .show-block {
    @include flexbox();
    flex-wrap: wrap;
    width: 100%;
  }

  .component__title {
    position: relative;

    h1 {
      display: inline;
      max-width: 70%;
    }
  }

  .project-info-download {
    display: inline;
    // vertical-align: bottom;
    margin: 0 0 0 10px;

    a {
      background: url(../images/download_icon.png) left center no-repeat;
      background-size: 30px;
      text-decoration: none;
      color: #777;
      font-size: 15px;
      line-height: 42px;
      padding-left: 40px;
      display: inline-block;
      vertical-align: top;
      
      span {
        display: inline-block;
      }
    }
  }
}

.cabinet_description {

  &-sub-info {
    max-width: 295px;
    width: 100%;
    margin-left: auto;

    img {
      display: block;
    }

    &_text_item {
      margin-top: 20px;

      p {
        font-size: 14px;
        line-height: 22px;
        margin: 5px 0;
      }

      span {
        font-weight: bold;
        padding-right: 6px;
      }
    }

    .project-progress {
      margin-top: 40px;

      > span {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  &-info {
    width: calc(100% - 320px);

    &_text {
      margin-top: 15px;

      p {
        font-size: 14px;
        line-height: 32px;
      }

      span {
        font-weight: bold;
        padding-right: 6px;
      }

      &_item {
        margin: 14px 0;
      }
    }
  }
}

.progress-line {
  width: 100%;
  max-width: 280px;
  position: relative;
  padding: 32px 0 30px;

  .percentage {
    position: absolute;
    font-weight: bold;
    color: #1758a5;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    top: -2px;
    left: 0;
    background-color: #e4e4e4;
    padding: 0 5px;
    width: 50px;
    margin-left: -25px;
    @include border-radius(4px);

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: #e4e4e4 transparent transparent transparent;
      left: calc(50% - 7px);
      bottom: -7px;
    }
  }

  .line {
    height: 10px;
    background-color: #d7d7d7;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include border-radius(4px);

    &__bg {
      position: absolute;
      width: 0%;
      height: 100%;
      left: 0;
      top: 0;

      background-image: 
        repeating-linear-gradient(
        -45deg,
        #5786be,
        #5786be 15px,
        #1758a5 7px,
        #1758a5 22px
      );
    }
  }
}
