.engineering {

  &-top {
    @include gradient-vertical(#66ccff, #1b6bc6);

    .image {
      position: absolute;
      display: inherit;
      right: 0;
      bottom: 0;
      z-index: 1;

      img {
        position: relative;
        z-index: 3;
      }
      
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 626px;
        height: 626px;
        border-radius: 50%;
        background-color: rgba(#fff, .07);
        z-index: 2;
        bottom: -190px;
        left: calc(50% - 343px);
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 903px;
        height: 903px;
        border-radius: 50%;
        background-color: rgba(#fff, .05);
        z-index: 1;
        bottom: -330px;
        left: calc(50% - 490px);
      }
    }

    .content-wrapper {
      padding: 140px 0 120px;
    }
  }

  &-promo {
    color: #fff;
    position: relative;
    z-index: 4;

    h2,
    h3 {
      font-size: 60px;
      line-height: 70px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      max-width: 385px;
      margin-top: 40px;
    }
  }
}
