.engineering {

  &-top {
    @include gradient-vertical(#66ccff, #1b6bc6);

    &.fundament-page {
      
      .image {
        width: 560px;
        height: 390px;
        bottom: auto;
        top: calc(50% - 195px);
        
        &:before {
          bottom: calc(50% - 313px);
          left: calc(50% - 313px);
        }

        &:after {
          bottom: calc(50% - 452px);
          left: calc(50% - 452px);
        }
      }
      
    }

    .image {
      position: absolute;
      display: inherit;
      right: 0;
      bottom: 0;
      z-index: 1;

      img {
        position: relative;
        z-index: 3;
      }
      
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 626px;
        height: 626px;
        border-radius: 50%;
        background-color: rgba(#fff, .07);
        z-index: 2;
        bottom: -190px;
        left: calc(50% - 343px);
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 903px;
        height: 903px;
        border-radius: 50%;
        background-color: rgba(#fff, .05);
        z-index: 1;
        bottom: -330px;
        left: calc(50% - 490px);
      }
    }

    .content-wrapper {
      padding: 70px 0;
    }
  }

  &-promo {
    color: #fff;
    position: relative;
    z-index: 4;
    width: 100%;

    .description-block {
      width: 45%;

      p {
        max-width: 100%;
      }
    }

    h2,
    h3 {
      font-size: 48px;
      line-height: 52px;
      font-weight: 900;
      padding: 40px 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      max-width: 385px;
      margin-bottom: 40px;
    }
  }
}

.calculate {
  background-color: #fff;
  width: 290px;
  font-size: 16px;
  line-height: 60px;
  font-weight: 900;
  color: #221f1f;
  text-decoration: none;
  text-align: center;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 55px;
  
  @include box-shadow(0 15px 24px rgba(#000000, .19));
  @include border-radius(5px);
}

.watch-video {
  font-size: 16px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
  background: url(../images/video-icon.png) left center no-repeat;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 80px;
}
