.component-intro {
  margin: 0;
  padding-bottom: 0;

  .content-wrapper {
    flex-wrap: wrap;
  }

  &__top {
    width: 100%;

    @include flexbox();
    align-items: center;
    justify-content: space-between;
  }

  .title {
    width: 73%;
    position: relative;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 167px;
      height: 31px;
      background-image: url(../images/sprite.png);
      background-position: -57px bottom;
      background-repeat: no-repeat;
      right: 20px;
      top: calc(50% - 15px);
    }

    h1 {
      font-size: 48px;
      line-height: 52px;
      font-weight: 900;
    }
  }

  .video {
    margin-left: 0;

    a {
      position: relative;
      display: block;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 46px;
        height: 46px;
        background: url(../images/sprite.png);
        background-position: 0 0;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
      }
    }
  }

  &__info {
    width: 100%;
    padding: 42px 0 130px;
    background: url(../images/main_photo.jpg) right bottom no-repeat;

    p {
      font-size: 16px;
      line-height: 24px;
      color: #666666;
      margin-bottom: 33px;
    }
     
    .button {
      width: 280px;

      @include button("big", "blue");

      &-cab {
        width: 280px;
        margin: 40px 0 0;

        @include border-radius(5px);
        @include button("big", "blue-border");
        display: block;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 26px;
          height: 29px;
          position: absolute;
          left: 22px;
          top: 14px;
          background: url(../images/cab_icon.png) no-repeat;
        }
      }
    }

    .guarantee {
      margin: 68px 0 58px;

      p {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-weight: 700;
        padding-right: 105px;

        &:after {
          position: absolute;
          display: block;
          content: '';
          height: 3px;
          width: 65px;
          top: calc(50% - 1.5px);
          right: 0;

          @include gradient-horizontal();
        }
      }
    }

    .years {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
}
