.component-why {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 0;

  &_content {
    @include flexbox();
    flex-wrap: wrap;
    width: 100%;
  }

  &_item {
    width: 33.33333%;
    padding-right: 100px;
    margin: 0 0 40px;

    .icon {
      background: url(../images/why_sprite.png) no-repeat;
      width: 58px;
      height: 53px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-top: 21px;
    }

    &__selection {

      .icon {
        background-position: left top;
      }
    }

    &__consult {

      .icon {
        background-position: left -54px;
      }
    }

    &__control {
      padding-right: 0;

      .icon {
        background-position: left -108px;
      }
    }

    &__materials {

      .icon {
        background-position: left -162px;
      }
    }

    &__payment-safe {

      .icon {
        background-position: left -224px;
      }
    }

  }
}
