.component-advantages {
  margin: 0 0 40px;

  .advantage-item {
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }

  .content-wrapper {
    padding: 0 10px;
    justify-content: center;
  }
}
