.component-calculator {

  .component-doubled__forms .step {
    width: 100%;
  }
}

.component-doubled {
  overflow: hidden;
  background-color: #fff;

  .content-wrapper {
    padding: 0;
  }

  &.component-calculator {

    .component-doubled__info {
      padding: 30px 20px 0;

      h2 {
        margin: 0;
        padding: 0;
      }

      .icon,
      p {
        display: none;
      }
    }
  }

  &__content {
    flex-wrap: wrap;
    border-width: 10px 0 10px 0;

    &:before {
      border-radius: 0;
    }
  }

  &__info {
    padding: 40px 20px 0;
    width: 100%;
    height: auto;
    background-color: #fff;

    h2 {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }
}

.component-doubled__forms {
  width: 100%;
  height: auto;

  &.wizard .content {
    flex-wrap: wrap;
  }

  .step {
    padding: 40px 20px 240px;
    box-shadow: none;

    &-button:before {
      right: 18px;
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  .step-form__item {

    .radiobuttons {
      width: 120px;
    }

    > label {
      min-width: 160px;
    }
  }
}


.calc-buttons {
  position: absolute;
  left: 20px;
  bottom: 130px;
  width: calc(100% - 40px);

  a {
    width: 132px;

    &.retreat {
      width: 100%;
      bottom: auto;
      top: 50px;

      &:before {
        left: 18px;
      }
    }
  }
}

.component-calculator__forms {

  &_controls {
    width: calc(100% - 40px);
    padding-bottom: 0;
    position: absolute;
    bottom: 30px;
    right: 20px;

    .steps-numbers {
      margin: 0;
      position: absolute;
      right: 0;
    }
  }
  
  &_step5.step {
    padding: 30px 20px 100px;

    input[type="text"] {
      width: 100%;
      margin: 0;
    }

    .step-button {
      width: 100%;
    }
    
    .total-price {
      margin-bottom: 30px;

      p {
        font-size: 18px;
        line-height: 26px;
      }

      span {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  
}


.steps-dots {
  right: auto;
  top: auto;
  left: 0;
  bottom: 5px;
  width: auto;
  
  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
  }
}
