.component-calculator {

  .component-doubled__forms .step {
    width: 100%;
  }
}

.component-doubled {
  overflow: hidden;
  background-color: #fff;

  .content-wrapper {
    padding: 0;
  }

  &.component-calculator {

    .component-doubled__info {
      padding: 30px 20px 0;

      h2 {
        margin: 0;
        padding: 0;
      }

      .icon,
      p {
        display: none;
      }
    }
  }

  &__content {
    flex-wrap: wrap;
    border-width: 10px 0 10px 0;

    &:before {
      border-radius: 0;
    }
  }

  &__info {
    padding: 40px 20px 0;
    width: 100%;
    height: auto;
    background-color: #fff;

    h2 {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  .actions.clearfix {
    position: absolute;
    left: 20px;
    bottom: 130px;
    width: calc(100% - 40px);
    max-width: 335px;
  }
}

.component-doubled__forms {
  width: 100%;
  height: auto;

  .actions.clearfix {

    li a {

      &.finish-button {
        width: 100%;
        top: 70px;
      }
    }
  }

  &.wizard .content {
    flex-wrap: wrap;
  }

  .step {
    padding: 40px 20px 240px;
    box-shadow: none;

    &-button:before {
      right: 18px;
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  .step-form__item .radiobuttons {
    width: 120px;
  }
}

.component-calculator__forms {

  &_controls {
    width: auto;
    padding-bottom: 0;
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
  
  &_step5.step {
    padding: 30px 20px 100px;

    input[type="text"] {
      width: 100%;
      margin: 0;
    }

    .step-button {
      width: 100%;
    }
    
    .total-price {
      margin-bottom: 30px;

      p {
        font-size: 18px;
        line-height: 26px;
      }

      span {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &_step2 {

    .step-form__item {

      > label {
        width: 160px;
      }
    }
  }
}

.steps.clearfix {
  right: auto;
  top: auto;
  left: 20px;
  bottom: 33px;
  width: auto;
}

.steps.clearfix,
.steps-dots {

  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    a {
      display: block;
      margin: 0;
    }

    &.last {
      display: none;
    }
  }
}
