.component-popular__projects {

  .project-item {
    
    &:nth-child(3) {
      display: none;
    }
  }

  .show-all {
    top: 0;
  }

  .project {

    &s-block {
      margin-bottom: 0;

      .slick-list {
        padding-bottom: 20px;
      }
    }

    &-item {
      margin: 0 10px 5px;

      @include box-shadow(0 10px 15px rgba(#000, .11));

      .hide-content {
        height: 190px;
        padding: 30px 25px 0;
      }
    }
  }
}

.project {

  &s-block {
    margin-bottom: 20px;
  }

  &-info {
    padding: 25px 25px 35px;
  }

  &-item {
    width: 100%;
    margin: 0 0 5px;

    @include box-shadow(0 10px 15px rgba(#000, .11));

    .photo {
      display: block;
      height: 230px;

      @include transition(.25s opacity linear);

      img {
        width: 100%;
      }
    }
    
    &:hover {
      color: #221f1f;
      background: none;

      .hide-content {
        display: none;
      }

      .photo {
        opacity: 1;
        display: block;
      }

      .project-info__sizes {

        > span {

          &.frame {
              
            &:before {
              background-position: -38px top;
            }
          }

          &.square {
            
            &:before {
              background-position: 0 top;
            }
          }

          &.floors {
            
            &:before {
              background-position: -74px top;
            }
          }
        }
      }
    }
  }
}
