.component-steps {
  padding: 40px 0;
}

.component-item_step {
  width: 100%;
  margin-bottom: 25px;
}

.component-steps-content {
  flex-wrap: wrap;

  .component-item_step {
    width: auto;
    margin: 0 10px 25px;
   
    @include box-shadow(0 10px 15px rgba(#000000, .11));
  }
}

.component-steps__work {
  
  .component-steps-content {
    display: block;
    width: 100%;
  }  

  .component-item_step {

    .item_step {

      &-title {
        padding: 0 20px;
      }

      &-description {
        padding: 0 20px;
      }
    }

  }
}
