.tablet-hide {
  display: block;
}

.content-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  
  .content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

.content-title {
  margin-top: 0;
}

.description-block {
  display: block;
  width: 100%;
}
