.footer
  .content-wrapper
    .footer__info
      .logo
        a(href="#")
          img(src="assets/images/logo.png", alt="")
      p Весь комплекс работ по строительству загородных домов в Санкт-Петербурге и Ленинградской области
    .footer__navigation
      ul
        li
          a(href="index.html") Главная
        li
          a(href="projects_catalogue.html") Проекты
        li
          a(href="services_page.html") Услуги
        li
          a(href="prices.html") Цены
        li
          a(href="our_objects.html") Наши объекты
        li
          a(href="services_page.html") Строительство
        li
          a(href="contacts.html") Контакты
    .footer__contacts
      .contacts-block
        .phone
          p +7 (961) 802 17 41
        .call-me
          a(href="javascript:void(0)")
            | Перезвоните мне
      .adress
        | 197374, Санкт-Петербург, Стародеревенская улица, 11к2
      .copyright
        | 2018 © Домострой. Информация на сайте не является публичной офертой.

