.header.inner.header__cabinet
  .content-wrapper
    .logo
      a(href="index.html")
        img(src="assets/images/logo.png", alt="СтройДом")
    .header-title
      | Личный Кабинет
    .header__navigation-block
      .header__navigation-menu
        .header-title
          | Личный Кабинет
        a(href="index.html").back-to.cab-links
          span Вернуться на сайт
        a(href="index.html").quit.cab-links
          span Выход
    .menu-btn.desk-hide
      span
      span
      span
