.header.inner
  .content-wrapper
    .logo
      a(href="index.html")
        img(src="assets/images/logo.png", alt="")
    .header-title
      | Личный Кабинет
    .header__navigation-block
      .header__navigation-menu
        span.back-to.cab-links
          a(href="index.html") Вернуться на сайт
        span.quit.cab-links
          a(href="index.html") Выход
    .menu-btn.desk-hide
      span
      span
      span
