.header.inner
  .content-wrapper
    .logo
      a(href="#")
        img(src="assets/images/logo.png", alt="")
    .header__navigation-block
      .header__navigation-menu
        ul
          li
            a(href="index.html") Главная
          li.current
            a(href="projects.html") Проекты
          li.header__navigation-drop
            a(href="services.html") Услуги
            .drop__menu
              ul
                li
                  a(href="javascript:void(0)") Индивидуальный проект дома
                li
                  a(href="javascript:void(0)") Фундамент ленточный
                li
                  a(href="javascript:void(0)") Фундамент монолитная плита
                li
                  a(href="javascript:void(0)") Монтаж перекрытий 
                li
                  a(href="javascript:void(0)") Монтаж перекрытий 
                li
                  a(href="javascript:void(0)") Благоустройство
          li
            a(href="our_team.html") Цены
          li
            a(href="our_objects.html") Наши объекты
          li
            a(href="contacts.html") Строительство
          li
            a(href="contacts.html") Контакты
      .contacts-block
        .phone
          p +7 (961) 802 17 41
        .call-me
          a(href="javascript:void(0)")
            | Перезвоните мне
    .contacts-block.tablet-show
      .phone
        p +7 (961) 802 17 41
      .call-me
        a(href="javascript:void(0)")
          | Перезвоните мне
    .menu-btn.desk-hide
      span
      span
      span
