.header
  .content-wrapper
    .logo
      a(href="index.html")
        img(src="assets/images/logo.png", alt="")
    .header__navigation-block
      .header__navigation-menu
        ul
          li.current
            a(href="index.html") Главная
          li
            a(href="projects_catalogue.html") Проекты
          li.header__navigation-drop
            a(href="services.html") Услуги
            .drop__menu
              ul
                li
                  a(href="services_page.html") Индивидуальный проект дома
                li
                  a(href="services_page.html") Фундамент ленточный
                li
                  a(href="services_page.html") Фундамент монолитная плита
                li
                  a(href="services_page.html") Монтаж перекрытий 
                li
                  a(href="services_page.html") Монтаж перекрытий 
                li
                  a(href="services_page.html") Благоустройство
          li
            a(href="prices.html") Цены
          li
            a(href="our_objects.html") Наши объекты
          li
            a(href="services_page.html") Строительство
          li
            a(href="contacts.html") Контакты
      .contacts-block
        .phone
          p +7 (961) 802 17 41
        .call-me
          a(data-fancybox data-src="#contacts_popup" href="javascript:void(0)")
            | Перезвоните мне
    .contacts-block.tablet-show
      .phone
        p +7 (961) 802 17 41
      .call-me
        a(data-fancybox data-src="#contacts_popup" href="javascript:void(0)")
          | Перезвоните мне
    .menu-btn.desk-hide
      span
      span
      span
