.contacts {
  padding: 45px 0 0 0;

  .content-title {
    margin-bottom: 40px;
  }

  &__content {
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__map {
    margin: 0 -20px;
    width: calc(100% + 40px);
  }

  &__info {
    padding-bottom: 40px;
    width: 100%;

    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;

    &-text {
      vertical-align: middle;
      max-width: 80%;
    }

    &-item {
      width: 100%;
      margin-bottom: 50px;

      .icon {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .interactive-map {
    width: calc(100% + 40px);
    margin: 40px -20px 0;

    span {
      font-size: 24px;
      line-height: 30px;
      padding: 0 20px;
    }

    iframe {
      border: none;
    }
  }
}
