.object-page {
  margin: 0 -20px 0;
  width: calc(100% + 40px);


  .object-item {
    margin-bottom: 0;
  }

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .content-wrapper {
    padding: 0;
  }

  .content-title {
    margin-bottom: 0;
  }

  .objects-content {
    flex-wrap: wrap;
  }
}
