.object-page {
  margin-top: 0;
  
  .object-item {
    margin-bottom: 25px;

    @include border-radius(5px);
  }

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .content-wrapper {
    padding: 0;
  }

  .content-title {
    margin-bottom: 25px;
    text-align: left;
    padding: 0;
  }

  .objects-content {
  }

  .building-area {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}

.object-wrap {

  + .component-order {
    margin-bottom: 0;
  }
}

