.object-page {
  margin: 0 -10px 0;
  width: calc(100% + 20px);


  .object-item {
    margin-bottom: 25px;

    @include border-radius(5px);
  }

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .content-wrapper {
    padding: 0;
  }

  .content-title {
    margin-bottom: 25px;
    text-align: left;
    padding: 0;
  }

  .objects-content {
    flex-wrap: wrap;
  }

  .object-description {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .building-area {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}

.object-wrap {

  + .component-order {
    margin-bottom: 0;
  }
}
