.projects-catalogue {
  
  .projects {

    &-block {
      padding: 0;
    }

    &-filter {
      padding: 0;
      margin-bottom: 60px;
      width: 100%;

      &__item {
        width: 100%;
        margin: 0 0 15px;
        display: none;

        .select2-container {
          min-width: 100%;
        }

        &:first-child,
        &:last-child {
          display: block;
        }
      }
    }
  }
}

