.projects-catalogue {
  width: calc(100% + 40px);
  margin: 0 -20px;
  
  .projects {

    &-block {
      padding: 0 10px;
    }

    &-filter {
      padding: 0 20px;
      margin-bottom: 60px;
      width: 100%;

      &__item {
        width: 100%;
        margin: 0 0 15px;
        display: none;

        &:first-child,
        &:last-child {
          display: block;
        }
      }
    }
  }
}

