.tablet-show {
  display: none !important;
}

.content-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  
  .content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

.content-title {
  text-align: left;
  padding: 0;

  h1 {
    font-size: 30px;
  }
}

h1 {
  font-size: 30px;
}

.breadcrumbs {
  display: none;
}

.description-block {
  width: 100%;
  padding-right: 0;
  display: block;

  .video-block {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;

    @include border-radius(5px);

    iframe {
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }  
}

.four-in-row {

  .object-item {
    width: 100%;
    min-height: 1px;
  }
}

.content-text .calculations {
  padding: 40px 20px;
  
  p {
    font-size: 18px;

    span {
      display: block;
    }
  }
}

.mob-hide {
  display: none;
}
