.tablet-show {
  display: none !important;
}

.content-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  
  .content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

.content-title {
  margin-top: 50px;
  text-align: center;
  padding: 0 20%;

  h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

.breadcrumbs {
  display: none;
}

.component.component-video {
  margin: 0;
  
  .content-wrapper {
    padding: 0;

    iframe {
      height: auto;
    }
  }
}
