.building {

  .content-accordion {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
  }

  .content-text {

    h3 {
      padding-bottom: 0;
      margin-bottom: 40px;
    }
  }
}
