.object-page {

  .content-accordion {
    width: 100%;
  }

  .objects-content {
    flex-wrap: wrap;
  }

  .object-item {
    margin-bottom: 30px;
  }

  .building-area {
    
    p {
      font-weight: bold;
      font-size: 16px;
    }

    span {
      font-weight: normal;
      color: #1758a5;
    }
  }
}

