.object-page {
  margin-top: 55px;

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .objects-content {
    flex-wrap: wrap;
  }

  .object-item {
    margin-bottom: 30px;
  }

  .object-description {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-right: 15%;
  }

  .building-area {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 29%;
    
    p {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }

    span {
      font-weight: normal;
      color: #1758a5;
    }
  }
}
