.prices {
  margin-top: 80px;

  &-content {
    width: 100%;
  }

  &-table {
    margin: 60px 0 20px;
    width: 100%;

    &__head {

      strong {
        font-size: 18px;
      }
    }

    &__body {

      .prices-table__row {

        &:nth-child(odd) {
          background-color: #f8f8f8;
        }
      }
    }

    &__row {
      line-height: 30px;
      padding: 15px 0 15px 40px;
      
      @include flexbox();
    }

    &__cell {

      &:first-child {
        width: 60%;
      }

      p {
        font-size: 16px;
      }
    }
  }

  &-form {
    width: 100%;
    
    &__title {
      
      .icon {
        width: 38px;
        height: 38px;
        background-image: url(../images/sprite.png);
        background-position: -114px 0;
        background-repeat: no-repeat;
        margin-bottom: 15px;
      }

      p {
        color: #666666;
        max-width: 63%;
      }
    }

    &__item {
      padding-bottom: 60px;
      margin-top: 30px;
      border-bottom: 1px solid #e7e6e6;

      &:last-child {
        margin-bottom: 0;
        border: none;
      }

      .icon {
        width: 34px;
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 8px; 
      }

      &-title {
        margin-bottom: 30px;

        span {
          font-size: 24px;
          line-height: 35px;
          font-weight: 700;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.material {

        .icon {
          background-image: url(../images/service_advantage_icon5.png);
        }
      }

      &.size {

        .icon {
          background-image: url(../images/build_sprite.png);
          background-size: 200px;
          background-position: 0 -92px;
        }
      }

      &.floors {

        .icon {
          background-image: url(../images/build_sprite.png);
          background-size: 190px;
          background-position: 0 -157px;
        }
      }

      &.roof {

        .icon {
          background-image: url(../images/build_sprite.png);
          background-size: 190px;
          background-position: -84px -46px;
        }
      }

      &.fundament {
        border: none;

        .icon {
          background-image: url(../images/build_sprite.png);
          background-size: 300px;
          background-position: -135px -198px;
        }
      }

      &.total {
        overflow: hidden;
        text-align: right;
        margin-top: 20px;

        p {
          font-size: 16px;
          line-height: 30px;
        }

        span {
          font-size: 24px;
          line-height: 30px;
          font-weight: 700;
        }
      }
    }

    &__subitem {
      width: 32%;
      display: inline-block;
      vertical-align: bottom;

      .radiobuttons {
        width: 190px;
      }

      strong {
        font-weight: normal;
        display: block;
        margin-bottom: 32px;
      }

      &.size {
        width: 35%;

        label {
          display: block;
          line-height: 24px;
          margin-bottom: 32px;
        }

        input[type="text"] {
          border: 1px solid #f0f4f9;
          background-color: #f0f4f9;
          height: 60px;
          line-height: 58px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
          text-align: center;
          width: 94px;
          font-size: 14px;

          @include border-radius(5px);

          &::-webkit-input-placeholder {
            color: #999999;
          }

          &::-moz-placeholder {
            color: #999999;
          }

          &:-moz-placeholder {
            color: #999999;
          }

          &:-ms-input-placeholder {
            color: #999999;
          }

          + span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
          }
        }
      }
    }
  }
}
