.project-page {

  .content-accordion {
    width: 100%;
  }

  &__info {
    width: 100%;
    margin-top: 40px;

    @include flexbox();
    flex-wrap: wrap;
    justify-content: space-between;

    > p {
      width: 100%;
      font-size: 14px;
      margin-top: 50px;
    }

    &-item {
      font-size: 16px;
      line-height: 24px;
      width: 18%; 

      span {
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
      }

      p {
        line-height: 30px;
        color: #1758a5;

        i {
          font-style: normal;
          padding-left: 5px;
          color: #221f1f;
        }
      }

      &_price {
        margin-left: 0;
        margin-right: 0;
        width: 44%;
        text-align: right;

        p {
          color: #221f1f;

          span {
            font-weight: 700;
            font-size: 22px;
            vertical-align: middle;
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.project-visual {
  width: 100%;

  @include flexbox();
  justify-content: space-between;

  &__photo {
    min-width: 690px;
  }

  &__bar {
    width: 418px;
    margin-left: 0;
  }

  &__item {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;

    &:first-child {
      margin-bottom: 4px;
    }

    span {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      padding-bottom: 10px;
    }
  }

  &__subitem {
    border: 1px solid #e6e9e9;
    overflow: hidden;
    width: calc(50% - 8px);
    text-align: center;
    margin-bottom: 16px;
    height: 135px;

    @include border-radius(5px);

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 100%;
    }
    
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
