.projects-filter {
  margin-bottom: 40px;

  .select2-container {
    min-width: 100%;
  }

  &__item {
    width: 228px;
    margin-right: 13px;
    display: inline-block;
    vertical-align: top;

    label {
      font-weight: 700;
      display: block;
      margin-bottom: 17px;
      padding-left: 20px;
    }

    select {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    .button {
      margin-top: 40px;

      @include button("big", "blue-border");
      width: 100%;
      padding: 0 0 0 32px;
      display: block;
      text-align: left;

      &:hover,
      &:active {

        &:before {
          background-position: -63px 0;
          @include transform(rotate(0));
        }
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 32px;
        height: 24px;
        right: 21px;
        top: calc(50% - 12px);
        background-image: url(../images/sprite.png);
        background-position: -63px -30px;
        background-repeat: no-repeat;

        @include transform(rotate(180deg));
      }
    }
  }
}

.projects-catalogue {

  .projects-block {
    margin-top: 0;
  }

  .project-item {
    margin-bottom: 30px;
  }
}
