.projects-filter {
  margin-bottom: 90px;

  &__item {
    width: 228px;
    margin-right: 13px;
    display: inline-block;
    vertical-align: top;

    label {
      font-weight: 700;
      display: block;
      margin-bottom: 17px;
    }

    select {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    .button {
      width: 100%;
      height: 60px;
      line-height: 58px;
      padding: 0 0 0 32px;
      color: #1758a5;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      display: block;
      position: relative;
      border: 2px solid #1758a5;
      margin-top: 41px;
      text-align: left;
      cursor: pointer;
      background-color: #fff;

      @include transition(.3s background ease-in);
      @include border-radius(5px);

      &:hover,
      &:active {
        background-color: #1758a5;
        color: #fff;

        &:before {
          background-position: -63px 0;
          @include transform(rotate(0));
        }
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 32px;
        height: 24px;
        right: 21px;
        top: calc(50% - 12px);
        background-image: url(../images/sprite.png);
        background-position: -63px -30px;
        background-repeat: no-repeat;

        @include transform(rotate(180deg));
      }
    }
  }
}

.projects-catalogue {

  .projects-block {
    margin-top: 0;
  }

  .project-item {
    margin-bottom: 30px;
  }
}
