.component.component-about
  .content-wrapper
    .component-about-text
      .component-title
        h1 
          | От проекта до построенного дома
        
      p Компания «СтройДом» предоставляет услуги по строительству загородных домов из газобетона, кирпича и по каркасной технологии в Санкт-Петербурге и Ленинградской области.

      p Мы ведем строительство начиная с выбора или разработки проекта до сдачи построенного дома клиенту в соответствии с действующими строительными нормами и правилами и технологическими картами производителей строительных материалов.
    .component-about-image
      img(src="assets/images/about-img.png", alt="about image")
