.component.component-advantages
  .content-wrapper
    .advantage-item
      .advantage-item__icon
        img(src="assets/images/advantage_icon1.png", alt="")
      .advantage-item__text
        p
          | Нет предоплаты
          br
          | за работы

    .advantage-item
      .advantage-item__icon
        img(src="assets/images/advantage_icon2.png", alt="")
      .advantage-item__text
        p
          | Подробная
          br
          | смета 

    .advantage-item
      .advantage-item__icon
        img(src="assets/images/advantage_icon3.png", alt="")
      .advantage-item__text
        p
          | Скидки на строительные
          br
          | материалы

    .advantage-item
      .advantage-item__icon
        img(src="assets/images/advantage_icon4.png", alt="")
      .advantage-item__text
        p
          | Договор и гарантия
          br
          | на работы

    .advantage-item
      .advantage-item__icon
        img(src="assets/images/advantage_icon5.png", alt="")
      .advantage-item__text
        p
          | Фиксированная
          br
          | стоимость
