.component.component-blue.component-blue_double-elements(style="background-image: url(assets/images/blue_bg1.jpg)")
  .content-wrapper
    .component__title
      h1 
        | Вы самостоятельно выбираете удобный для вас вариант сотрудничества
    .clone-content
      .clone-item
        .clone-item__icon
          img(src="assets/images/clone_icon1.png", alt="")
        .clone-item__info
          p
            | Строим из вашего материала
      .clone-item
        .clone-item__icon
          img(src="assets/images/clone_icon2.png", alt="")
        .clone-item__info
          p
            | Мы самостоятельно приобретаем
            br
            | и организовываем доставку строительного
