.component.component-blue.component-blue_double-elements(style="background-image: url(assets/images/blue_bg1.jpg)")
  .content-wrapper
    .component-title
      h1 
        | Выберите вариант
        br
        | сотрудничества
    .clone-content
      .clone-item(style="background-image: url(assets/images/clone_item_bg.jpg)")
        .clone-item__icon
          img(src="assets/images/clone_icon1.png", alt="")
        .clone-item__info
          p
            | Вы самостоятельно приобретаете
            br
            | и организовываете доставку
            br
            | материалов на объект
      .clone-item
        .clone-item__icon
          img(src="assets/images/clone_icon2.png", alt="")
        .clone-item__info
          p
            | Мы берем на себя все работы
            br
            | по приобретению и доставке
            br
            | материалов на объект
