.component.component-build-preview
  .content-wrapper
    .component__title
      h2 Ход строительства
    .build-preview_item
      span Кладка стен
      .date
        | 07.02.2019
      p Подняли блоки на 2 этаж, кладка выполнена на 50%
      .build-gallery
        a.build-gallery_item(href="#gallery1_1" data-fancybox="gallery1")
          img(src="assets/images/build_preview.png", alt="")
        a.build-gallery_item(href="#gallery1_2" data-fancybox="gallery1")
          img(src="assets/images/build_preview.png", alt="")
        a.build-gallery_item(href="#gallery1_3" data-fancybox="gallery1")
          img(src="assets/images/build_preview.png", alt="")

        div#gallery1_1(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
        div#gallery1_2(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
        div#gallery1_3(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
    .build-preview_item
      span Благоустройство (окончание работ)
      .date
        | 07.02.2019
      p Работы выполнены можно приезжать на приемку
      .build-gallery
        a.build-gallery_item(href="#gallery2_1" data-fancybox="gallery2")
          img(src="assets/images/build_preview.png", alt="")
        a.build-gallery_item(href="#gallery2_2" data-fancybox="gallery2")
          img(src="assets/images/build_preview.png", alt="")
        a.build-gallery_item(href="#gallery2_3" data-fancybox="gallery2")
          img(src="assets/images/build_preview.png", alt="")

        div#gallery2_1(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
        div#gallery2_2(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
        div#gallery2_3(style="display: none;")
          img(src="assets/images/build_preview.png", alt="")
