.component.component-cabinet_description
  .content-wrapper
    .cabinet_description-info
      .component__title
        h1 Новое Минулово
        h3.sub-title
          | Строительство инд. жилого дома
    .cabinet_description-sub-info
      .image
        img(src="./assets/images/cabinet_project_preview.jpg", alt="")
    .cabinet_description-info
      .cabinet_description-info_text
        .cabinet_description-info_text_item
          p 
            span Адрес объекта:
            | Кленовая улица д 90
          p 
            span Заказчик:
            | Добрынин Леонид Владимирович
          p 
            span Телефон:
            | +79618021741
          p 
            span Эл почта:
            | dobr@mail.ru
        .cabinet_description-info_text_item

          p 
            span Дата начала работ:
            | 25/05/2017
          p 
            span Планируемая дата сдачи проекта:
            | 31/05/2017
        .cabinet_description-info_text_item

          p 
            span Руководитель проекта:
            | Вадим
          p 
            span Телефон:
            | +79618021741
          p 
            span Эл.почта:
            | info@stroy-dom.pro
    .cabinet_description-sub-info
      .project-progress(data-progress="30")
        span Проект завершен на:
        .progress-line
          .percentage
            span 0
            | %
          .circle
          .line
          .zero
            | 0
          .hundred
            | 100

      .project-info-download
        a(href="#") 
          span
            | Скачать файлы
            br
            | по вашему проекту

