.component.component-cabinet_description
  .content-wrapper
    .component__title.desk-hide
      h1 Новое Минулово
    .project-progress.desk-hide(data-progress="30")
      //- span Проект завершен на:
      .progress-line
        .percentage
          span 0
          | %
        .line
          .line__bg
    .show-info.desk-hide
      | Подробнее
    .show-block
      .cabinet_description-info
        .component__title
          h1.mob-hide Новое Минулово
          .project-info-download.mob-hide
            a(href="#") 
              span
                | Яндекс.Диск
          h3.sub-title
            | Строительство инд. жилого дома

        .cabinet_description-info_text
          .cabinet_description-info_text_item
            p 
              span Адрес объекта:
              | Кленовая улица д 90
          .cabinet_description-info_text_item
            p 
              span Заказчик:
              | Добрынин Леонид Владимирович
            p 
              span Телефон:
              | +79618021741
            p 
              span Эл почта:
              | dobr@mail.ru
      .cabinet_description-sub-info
        .image
          img(src="./assets/images/cabinet_project_preview.jpg", alt="")
        .project-progress.mob-hide(data-progress="30")
          //- span Проект завершен на:
          .progress-line
            .percentage
              span 0
              | %
            .line
              .line__bg
        .cabinet_description-sub-info_text_item
          p 
            span Дата начала работ:
            | 25/05/2017
          p 
            span Планируемая дата сдачи проекта:
            | 31/05/2017
        
        .cabinet_description-sub-info_text_item
          p 
            span Руководитель проекта:
            | Вадим
          p 
            span Телефон:
            | +79618021741
          p 
            span Эл.почта:
            | info@stroy-dom.pro

