.component.component-calculator.component-doubled
  .content-wrapper
    .component-doubled__content
      .component-doubled__info
        .icon
        h2 Рассчитать стоимость
        p С помощью этого калькулятора вы можете сделать приблизительный расчет стоимости строительства дома в комплектации «Базовый» включая стоимость строительных материалов.
      
      
      form#steps-calc.component-doubled__forms
        .calc-buttons
          a.prev(href="javascript:void(0);") Назад
          a.next(href="javascript:void(0);") Далее
          a.retreat(href="javascript:void(0);" style="display: none;") Рассчитать заново

        .component-calculator__forms_step1.step.active
          .step-title
            | Из чего будет ваш дом?
          .step-form
            .step-form__item
              input#wizard-1(type="radio" name="material" checked="checked")
              label(for="wizard-1")
                | Дома из газобетона
            .step-form__item
              input#wizard-2(type="radio" name="material")
              label(for="wizard-2")
                | Каркасные дома
            .step-form__item
              input#wizard-3(type="radio" name="material")
              label(for="wizard-3")
                | Теплая керамика

        .step.wizard-1
          .step-title
            | Размеры дома
          .step-form
            .step-form__item
              label(for="")
                | Площадь дома:
              input#material1(type="text" placeholder="10" required)
              span м
                sup 2
            .step-form__item
              label(for="")
                | Толщина стен:
              .radiobuttons
                input#depth1(type="radio" name="depth" checked="checked")
                label(for="depth1")
                  span 300
                input#depth2(type="radio" name="depth")
                label(for="depth2")
                  span 400
            .step-form__item.floors
              label(for="")
                | Количество этажей:
              .step-form__sub-item
                input#floor-1(type="radio" name="floor" checked="checked")
                label(for="floor-1") 1
              .step-form__sub-item
                input#floor-2(type="radio" name="floor")
                label(for="floor-2") 2

        .step.wizard-3
          .step-title
            | Размеры дома
          .step-form
            .step-form__item
              label(for="")
                | Площадь дома:
              input#material1(type="text" placeholder="10" required)
              span м
                sup 2
            .step-form__item
              label(for="")
                | Толщина стен:
              .radiobuttons
                input#depth31(type="radio" name="depth3" checked="checked")
                label(for="depth31")
                  span 380
                input#depth32(type="radio" name="depth3")
                label(for="depth32")
                  span 440
            .step-form__item.floors
              label(for="")
                | Количество этажей:
              .step-form__sub-item
                input#floor-31(type="radio" name="floor" checked="checked")
                label(for="floor-31") 1
              .step-form__sub-item
                input#floor-32(type="radio" name="floor")
                label(for="floor-32") 2

        .step.wizard-2
          .step-title
            | Размеры дома
          .step-form
            .step-form__item
              label(for="")
                | Площадь дома:
              input#material1(type="text" placeholder="10" required)
              span м
                sup 2
            .step-form__item.floors
              label(for="")
                | Количество этажей:
              .step-form__sub-item
                input#floor-21(type="radio" name="floor" checked="checked")
                label(for="floor-21") 1
              .step-form__sub-item
                input#floor-22(type="radio" name="floor")
                label(for="floor-22") 2

        .step.wizard-1.wizard-3
          .step-title
            | Межэтажные перекрытия
          .step-form
            .step-form__item
              input#overlappings-1(type="radio" name="overlappings" checked="checked")
              label(for="overlappings-1")
                | Монолитное перекрытие 
            .step-form__item
              input#overlappings-2(type="radio" name="overlappings")
              label(for="overlappings-2")
                | Плиты перекрытия ПБ 220мм
            .step-form__item
              input#overlappings-3(type="radio" name="overlappings" checked="checked")
              label(for="overlappings-3") Деревянные балки

        .step.wizard-2
          .step-title
            | Межэтажные перекрытия
          .step-form
            .step-form__item
              input#overlappings-23(type="radio" name="overlappings" checked="checked")
              label(for="overlappings-23") Деревянные балки

        .step.wizard-1.wizard-2.wizard-3
          .step-title
            | Кровля
          .step-form
            .step-form__item
              input#roof-1(type="radio" name="roof" checked="checked")
              label(for="roof-1")
                | Металлочерепица
            .step-form__item
              input#roof-2(type="radio" name="roof")
              label(for="roof-2")
                | Мягкая кровля
            .step-form__item
              input#roof-3(type="radio" name="roof")
              label(for="roof-3")
                | Керамическая черепица
        
        .component-calculator__forms_step5.step.wizard-1.wizard-2.wizard-3
          .total-price
            p Стоимость дома:
            span 5 495 600 &#8381;
          .step-form
            .step-form__item
              input(type="text" placeholder="Ваше имя")
            .step-form__item
              input(type="text" placeholder="Ваш телефон")

          a.step-button(href="javascript:void(0)") Отправить заявку

        .component-calculator__forms_controls
          .steps-dots
          .steps-numbers
            p 
              span.current 1
              | /
              b.total 4
