.component.component-text
  .content-wrapper
    .content-text
      h3 Собственный загородный дом
      h2
        | Это — ваша мечта? 
        br
        | Мы делаем мечты реальностью.

      p Мы осуществляем полный цикл общестроительных работ в сфере загородного строительства от нулевого цикла до внутренней отделки.

      h3 Ключевые принципы нашей работы:

      strong Качество

      p Высокое качество выполнения работ – это стандарт для всех наших объектов. Опытные строители и прорабы, которые хорошо знают свое дело, профессиональный инструмент и система контроля качества и приемки работ –  составляющие, гарантирующие качественный результат нашей работы.

      strong Стоимость

      p Мы предлагаем нашим клиентам доступные цены на строительные работы.

      strong Сервис

      p Наши заказчики на регулярной основе получают отчеты о ходе выполнения работ, которые включают фотофиксацию и результаты контрольных проверок выполненных работ. Также по необходимости мы берем на себя заказ, доставку и и приемку строительных материалов на объекте.

