.engineering-top
    .content-wrapper
      .engineering-promo
        h2
          | Разработка индивидуального 
          br
          | проекта загородного дома 
          br
          | от 200 руб./м2
        p Мы разработаем уникальный проект дома или адаптируем понравившийся вам проект учитывая ваши пожелания. Наши проекты включают в себя полный комплект чертежей и ведомости материалов необходимые для проведения строительных работ.
      .image
        img(src="./assets/images/engineering_img.png", alt="engineering img")
