.component.component-inro
  .content-wrapper
    .component-inro__top
      .title
        h1
          | Строительство
          br
          | домов в СПб
      .video
        a(href="#cases__subitem_1" data-fancybox="video")
          img(src="assets/images/video_img.jpg", alt="video image")

        div(id="cases__subitem_1" style="display: none;")
          iframe(width="560" height="315" src="https://www.youtube.com/embed/rfgG0VCwP9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .component-inro__info
      p
        | Построили с 2007 года более 120 домов 
        br
        | по готовым и индивидуальным проектам
      a.button(href="./works.html") Посмотреть работы
      .guarantee
        .years
          img(src="assets/images/guarantee.png", alt="")
        p
          | ЛЕТ
          br
          | ГАРАНТИЯ 
