.component.component-inro
  .content-wrapper
    .component-inro__top
      .title
        h1
          | Строительство домов 
          br
          | в СПб и Ленинградской 
          br
          | области
      .video
        a(href="#cases__subitem_1" data-fancybox="video")
          img(src="assets/images/video_img.jpg", alt="video image")

        div(id="cases__subitem_1" style="display: none;")
          iframe(width="560" height="315" src="https://www.youtube.com/embed/twEo0j00qyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .component-inro__info
      p
        | Полный комплекс работ от проектирования
        br
        | до строительства вашего дома.
      a.button(href="./works.html") Посмотреть работы
      a.button-cab(href="./cabinet.html") Личный кабинет
      
