.component.component-news
  .content-wrapper
    .component__title
      h1 Новости
    .component-news__content
      -for (i = 0; i < 3; i++)
        a.component-news__item(href="#")
          span.component-news__item_image
            img(src="assets/images/house_photo.jpg", alt="")
          span.component-news__item_date
            span 01.08.2018
          span.component-news__item_title 
            | Новости со стройплощадок — август
          span.component-news__item_info
            | На объекте в п. Белоостров завершена кладка 2 этажа, монтаж армопояса и раскладка балок межэтажного перекрытия

    span.show-all
      a(href="./news.html")
        | Посмотреть
        br
        | все новости
