.component.component-order.component-doubled
  .content-wrapper
    .component-doubled__content
      .component-doubled__info
        .icon
        h2 Оставьте заявку
        p И мы рассчитаем стоимость строительства дома по вашему проекту с применением аналогичных строительных материалов. 
      
      .component-doubled__forms
        .component-calculator__forms_step5.step
          .step-form
            .step-form__item
              input(type="text" placeholder="Ваше имя")
            .step-form__item
              input(type="text" placeholder="Ваш телефон")

          a.step-button(href="javascript:void(0)") Отправить заявку
