.component.component-our-advantages
  .content-wrapper
    .our-advantages_slider
      .our-advantages_item
        .our-advantages_icon
          img(src="./assets/images/our_adv_icon1.png", alt="")
        .our-advantages_text
          p Уникальный дизайн и функциональные планировки
      .our-advantages_item
        .our-advantages_icon
          img(src="./assets/images/our_adv_icon2.png", alt="")
        .our-advantages_text
          p Разработаем проект дома в соответствии с бюджетом на строительство
      .our-advantages_item
        .our-advantages_icon
          img(src="./assets/images/our_adv_icon3.png", alt="")
        .our-advantages_text
          p Проверим нагрузки на несущие элементы, перекрытия, стропильную систему
      .our-advantages_item
        .our-advantages_icon
          img(src="./assets/images/our_adv_icon4.png", alt="")
        .our-advantages_text
          p При подписании договора на строительство предоставим скидку в размере 50% от стоимости разработки проекта
    .our-advantages_description
      .image
        img(src="./assets/images/our-advantages_img.png", alt="")
      .our-advantages_description_text
        p Мы строим дома по собственным проектам и при проектировании учитываем не только архитектурную сторону проекта, но и техническую. Идеальный проект дома для нас – это проект проработанный с функциональной, архитектурной и технической стороны, по которому строители смогут возвести дом без необходимости внесения правок и перерасхода материалов в процессе строительства.
