.component.component-works
  .content-wrapper
    .component__title
      h1 Наши работы
    .works-grid
      .works-grid__item.first
          span.works-grid-slider__item.first
            a(href="object.html")
              span.image
                img(src="assets/images/project_photo1.jpg", alt="project photo1")
              span.name 
                | Коттеджный поселок
                br
                | «Новый Петербург»
      each elem, index in ['д. Жабино', 'ДНП Скандинавский парк', 'Коттеджный посёлок «Лесной хутор»', 'п. Белоостров', 'д. Грузино']
        .works-grid__item
            span.works-grid-slider__item
              a(href="object.html")
                span.image
                  img(src="assets/images/project_photo" + (index + 2) + ".jpg", alt="project photo" + (index + 2))
                span.name= elem

    span.show-all
      a(href="./our_objects.html")
        | Посмотреть
        br
        | все работы
