.pagination
  ul
    li.prev
      a(href="javascript:void(0)")
    li
      a(href="javascript:void(0)") 1
    li.gap
      span ...
    li
      a(href="javascript:void(0)") 4
    li.current
      span 5
    li
      a(href="javascript:void(0)") 6
    li
      a(href="javascript:void(0)") 7
    li.next
      a(href="javascript:void(0)")
