.component.component-steps
  .content-wrapper
    .component__title
      h1 Порядок оплаты
    .component-steps-content
      .component-item_step
        .step-count
          span 1 шаг:
        .item_step-title
          p 30% при подписании договора на проектирование
      .component-item_step
        .step-count
          span 2 шаг:
        .item_step-title
          p 30% после утверждения планировок и планов фасадов
      .component-item_step
        .step-count
          span 3 шаг:
        .item_step-title
          p 40% после подготовки полного комплекта чертежей
