.component.component-popular__projects
  .content-wrapper
    .component__title
      h1
        | Популярные
        br
        | проекты
    
    .projects-block
      a.project-item(href="project.html")
        span.photo
          img(src="assets/images/house_photo1.jpg", alt="")
        span.hide-content
          span.link Подробнее
          p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
        span.project-info
          span.project-info__main
            p Дрезден
            p 9 500 000 ₽
          span.project-info__sizes
            span.square
              p 170 м2
            span.frame
              p Газобетон
            span.floors
              p 2 этажа
      a.project-item(href="project.html")
        span.photo
          img(src="assets/images/house_photo.jpg", alt="")
        span.hide-content
          span.link Подробнее
          p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
        span.project-info
          span.project-info__main
            p Кельн
            p 30 000 ₽
          span.project-info__sizes
            span.square
              p 170 м2
            span.frame
              p Каркас
            span.floors
              p 1 этаж
      a.project-item(href="project.html")
        span.photo
          img(src="assets/images/house_photo1.jpg", alt="")
        span.hide-content
          span.link Подробнее
          p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
        span.project-info
          span.project-info__main
            p Мюнхен
            p 670 000 ₽
          span.project-info__sizes
            span.square
              p 170 м2
            span.frame
              p Брус
            span.floors
              p 2 этажа



    span.show-all
      a(href="./projects_catalogue.html")
        | Посмотреть
        br
        | все проекты
