.component.component-pricing
  .content-wrapper
    .component-title
      h1 
        | Стоимость
    
    .component-pricing-content
      .component-pricing_item
        .component-pricing_icon
          img(src="./assets/images/pricing_icon1.png", alt="")
        .component-pricing_description
          .component-pricing_title
            | Эскизный проект 
            span – 150 руб./м2
          .component-pricing_text
            p В стоимость входит общая информация по проекту, план фундамента, планировки этажей с размерами комнат, указанием толщины стен, отдельных элементов, разрезы, планы фасадов, план кровли.

          .deadline
            | Срок разработки 
            span – 2 недели
        .min-price
          p 
            | Минимальная стоимость эскизного проекта –
            br
            | 25 000 руб.
      .component-pricing_item
        .component-pricing_icon
          img(src="./assets/images/pricing_icon2.png", alt="")
        .component-pricing_description
          .component-pricing_title
            | Архитектурно-строительный проект
            span – 250 руб./м2
          .component-pricing_text
            p Полный комплект чертежей необходимых для строительства дома, включает в себя общую информацию по проекту, планировки, планы фасадов, разрезы, планы фундамента и перекрытия, включающий схемы армирования, планы армопоясов, для деревянных перекрытий раскладка балок и подбор сечения в  зависимости от пролета, ведомости проемов и перемычек, расчет армирования перемычек, план кровли, схема чердачного перекрытия, схема стропильной системы с подбором сечения стропил в зависимости от нагрузок, ведомости материалов.

          .deadline
            | Срок разработки 
            span – 3 недели
        .min-price
          p 
            | Минимальная стоимость архитектурно-строительного проекта –
            br
            | 35 000 руб.
