.component.component-service_advantages
  .content-wrapper
    .component__title
      h1 Наши преимущества
      
    .service_advantages__content
      .service_advantages-item
        .advantage-item__icon
          img(src="assets/images/service_advantage_icon1.png", alt="")
        .advantage-item__text
          p
            | Реальный опыт работ 5 лет в загородном строительстве. Мы реализуем объекты от небольших фундаментов до сложных монолитных чаш под бассейн, фундаментов с цокольным этажом.
      
      .service_advantages-item
        .advantage-item__icon
          img(src="assets/images/service_advantage_icon2.png", alt="")
        .advantage-item__text
          p
            | От стадии обсуждения проекта и до завершения работ Заказчик общается напрямую с прорабом, который контроллирует ход строительства на объекте.
      
      .service_advantages-item
        .advantage-item__icon
          img(src="assets/images/service_advantage_icon3.png", alt="")
        .advantage-item__text
          p
            | Мы работаем «под ключ», а также из материалов Заказчика, в зависимости от ваших потребностей. При любой схеме работы Вы получаете наши скидки на стройматериалы.
      
      .service_advantages-item
        .advantage-item__icon
          img(src="assets/images/service_advantage_icon4.png", alt="")
        .advantage-item__text
          p
            | Работа без рисков для Заказчика. Работа по договору с гарантией 36 месяцев. Мы не берем предоплату по работам, работа оплачивается по этапам, после их завершения и приемкой Заказчиком.
      
      .service_advantages-item
        .advantage-item__icon
          img(src="assets/images/service_advantage_icon5.png", alt="")
        .advantage-item__text
          p
            | Мы строим от фундамента до кровли. Вам не придется искать компании или бригады на фундамент, кладку, кровлю, мы выполним весь комплекс работ и при необходимости подготовим проектную документацию.
