.component.component-video
  .content-wrapper
    .video-block
      iframe(width="1210px" height="675" src="https://www.youtube.com/embed/_OlN9p9q1J4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
