.component.component-why
  .content-wrapper
    .component-title
      h1 
        | Почему мы?
    .component-why_content
      .component-why_item.component-why_item__selection
        .icon
        .component-why_item_text
          p Подбор и техническая оценка готовых проектов под запросы клиента, а также разработка индивидуальных проектов.
      .component-why_item.component-why_item__consult
        .icon
        .component-why_item_text
          p Профессиональная консультация по выбору строительных материалов, а также технологий строительства.
      .component-why_item.component-why_item__control
        .icon
        .component-why_item_text
          p Система контроля качества проводимых работ с фотофиксацией скрытых работ и отчетами для клиентов в личном кабинете
      .component-why_item.component-why_item__materials
        .icon
        .component-why_item_text
          p Возможность приобретать материал у наших поставщиков по ценам ниже розничных
      .component-why_item.component-why_item__payment-safe
        .icon
        .component-why_item_text
          p Поэтапная оплата по факту завершения работ
