.object-page {
  margin-top: 55px;

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .content-title {
    margin-bottom: 35px;
  }

  .objects-content {
    flex-wrap: wrap;
  }

  .object-item {
    margin-bottom: 30px;
  }

  .object-description {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .building-area {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}
