.object-page {
  margin-top: 55px;

  .content-accordion {
    margin-top: 60px;
    width: 100%;
  }

  .content-title {
    margin-bottom: 35px;
  }

  .objects-content {
  }

  .description-block {
    padding-right: 0;
  }

  .object-item {
    margin-bottom: 30px;
  }

  .building-area {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}
