.object-page {

  .content-accordion {
    width: 100%;
  }

  .objects-content {
  }

  .description-block {
    padding-right: 0;
  }

  .object-item {
    margin-bottom: 30px;
  }

  .building-area {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}
