.project-page {
  margin-top: 0;

  .content-accordion {
    margin-top: 60px;
  }

  .content-title {
    margin-top: 30px;
  }

  &__info {
    width: 100%;
    margin-top: 55px;

    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;

    > p {
      width: 100%;
      font-size: 14px;
      margin-top: 50px;
    }

    &-item {
      font-size: 18px;
      line-height: 24px;

      span {
        font-weight: 700;
      }

      p {
        line-height: 30px;
        color: #1758a5;
      }

      &_price {
        margin-left: 0;
        width: 30%;
        text-align: right;

        p {
          font-weight: 700;
          font-size: 30px;
        }
      }
    }
  }
}

.project-visual {
  width: 100%;

  @include flexbox();
  justify-content: space-between;
  flex-wrap: wrap;

  &__photo {
    width: 100%;
    min-width: 100%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__bar {
    width: 100%;
    margin-top: 30px;

    @include flexbox();
    justify-content: space-between;
    align-items: baseline;
  }

  &__item {
    width: calc(50% - 10px);
    align-items: flex-start;

    &:first-child {
      margin-bottom: 4px;
      order: 2;
    }

    span {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      padding-bottom: 10px;
    }
  }

  &__subitem {
    border: 1px solid #e6e9e9;
    overflow: hidden;
    width: calc(50% - 8px);
    text-align: center;
    margin-bottom: 16px;
    height: 135px;

    @include border-radius(5px);

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 100%;
    }
    
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
