.component-blue {

  &_double-elements {

    .clone-item {
      width: calc(50% - 10px);
    }
  }
}

.clone {

  &-item {
    width: calc(33.3333% - 10px);

    &__info {
      padding-top: 30px;
      margin-top: 30px;
      position: relative;
      font-size: 18px;
      font-weight: 700;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 30px;
        height: 1px;
        top: 0;
        left: 0;

        @include gradient-horizontal();
      }
    }
  }
}
