.engineering {

  &-top {
    overflow: hidden;

    &.fundament-page {
      
      .image {
        width: 290px;
        height: 190px;
        bottom: auto;
        right: 100px;
        top: calc(40% - 145px);
        
        &:before {
          bottom: calc(50% - 223px);
          left: calc(50% - 223px);
        }

        &:after {
          bottom: calc(50% - 322px);
          left: calc(50% - 322px);
        }
      }
      
    }

    .image {
      right: -400px;
      bottom: 0;

      &:before {
        width: 447px;
        height: 447px;
        bottom: -40px;
        left: 40px;
      }

      &:after {
        width: 644px;
        height: 644px;
        bottom: -140px;
        left: -70px;
      }
    }

    .content-wrapper {
      padding: 100px 28px 70px;
    }
  }

  &-promo {

    .description-block {
      width: 100%;
    }

    h2,
    h3 {
      font-size: 36px;
      line-height: 48px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      max-width: 325px;
    }
  }
}
