.component-inro {
  margin: 0;

  .title {

    h1 {
      font-size: 36px;
      line-height: 46px;
    }

    &:after {
      display: none;
    }
  }

  .video {
    margin-left: 0;
    width: 195px;
    height: 115px;

    a {
      position: relative;
      display: block;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 46px;
        height: 46px;
        background: url(../images/sprite.png);
        background-position: 0 0;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
      }
    }
  }

  &__info {
    background-image: url(../images/main_photo_tablet.jpg);

    .guarantee {

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
