.component-popular__objects {

  .content-wrapper {
    flex-wrap: wrap;
  }
}

.objects-content,
.objects-block {
  width: 100%;

  @include flexbox();
  justify-content: space-between;

}

.object {

  &-item {
    width: calc(50% - 10px);

    &:nth-child(3) {
      display: none;
    }

    &:hover {
      
      .hide-info {
        opacity: 0; 
        visibility: hidden;
      }
    }
  }

  &-info {
    font-size: 24px;
    font-weight: 700;
    padding: 33px 30px 0;
    line-height: 30px;
    display: block;

    &__sizes {

      > span {
        margin-bottom: 15px;
        display: block;

        p {
          position: relative;
          padding-left: 42px;
          display: inline-block;
          vertical-align: top;

          &:before {
            position: absolute;
            display: block;
            content: '';
            width: 27px;
            height: 25px;
            background: url(../images/build_sprite.png) no-repeat;
            left: 0;
          }
        }

        &.frame {
          
          p:before {
            background-position: -38px top;
          }
        }

        &.square {
          
          p:before {
            background-position: 0 top;
          }
        }

        &.floors {
          margin-bottom: 0;
          
          p:before {
            height: 27px;
            background-position: -74px top;
          }
        }
      }

      p {
        color: inherit;
        font-size: 14px;
      }
    }
  }
}
