extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper.building
    .breadcrumbs
      ul
        li
          a(href="./index.html") СтройДом
        li
          b /
        li
          span Строительство
  
    .content-title
      h1 Строительство
    .content-text
      .description-block
        h3 1. Как мы работаем с клиентами?
        .content-accordion
          .accordion-item.empty.blue
            .accordion-item__title
              span
                | Шаг №1
                b – Расчет сметы

            .accordion-item__content(style="display: none;")
              p Для расчета стоимости строительства вашего дома нам потребуется раздел проекта АР (архитектурные решения), а именно планировки 1 и 2 этажей с размерами, планы 4-х фасадов, разрез дома, схема кровли, чертежи можно отправить на нашу почту info@stroy-dom.pro также в заявке необходимо указать, где находится ваш участок и оставить контактный номер для связи. Мы рассчитаем стоимость работ и материалов и отправим смету на почту.
          .accordion-item.empty.blue
            .accordion-item__title
              span
                | Шаг №2
                b – Встреча в офисе

            .accordion-item__content(style="display: none;")
              p Основная цель встречи в нашем офисе — это личное знакомство и обсуждение вашего проекта. Мы расскажем, как будут проводиться работы на объекте, продемонстрируем выполненные объекты со сметами на строительство, также мы сможем обсудить ваш проект, дадим свои комментарии по возможным вариантам оптимизации затрат на строительство и выбору строительных материалов.
          .accordion-item.empty.blue
            .accordion-item__title
              span
                | Шаг №3
                b – Подписание договора и выезд на объект 

            .accordion-item__content(style="display: none;")
              p Перед подписанием договора мы выезжаем на объект для осмотра участка застройки – для начала работ необходимо обеспечить подъездные пути к пятну застройки на участке, также потребуется бытовка для бригады строителей, питьевая и техническая вода и электричество не менее 3 КВт. Если все условия для строительства обеспечены мы согласовываем с клиентом сроки начала работ и подписываем договор.
          .accordion-item.empty.blue
            .accordion-item__title
              span
                | Шаг №4
                b – Строительство дома

            .accordion-item__content(style="display: none;")
              p После подписания договора мы готовим и согласовываем с клиентом спецификации на стройматериал и организовываем их доставку на объект. Все работы выполняются опытными бригадами, согласно действующим нормативам и инструкциям по монтажу от изготовителей стройматериалов. Выполнение работ контролирует прораб, для клиентов мы предоставляем фотоотчет хода строительства. В среднем дом из газобетона 100м2 от фундамента до кровли мы строим за 75 дней.
          .accordion-item.empty.blue
            .accordion-item__title
              span
                | Шаг №5
                b – Сдача, приемка и оплата работ 

            .accordion-item__content(style="display: none;")
              p Мы не берем предоплату за работы, строительство дома разбито на отдельные этапы (фундамент, стены, перекрытие, кровля), по завершению очередного этапа строительства наш прораб принимает работу у строителей, затем клиент проверяет качество выполненных работ, подписывается акт выполненных работ и производится оплата работ.
        
        h3 2.  Строительство загородного дома в вопросах и ответах 
        
        .content-accordion
          .accordion-item.empty.blue
            .accordion-item__title
              span 
                | Проект дома. Нужен или нет?

            .accordion-item__content(style="display: none;")
              p Для расчета стоимости строительства вашего дома нам потребуется раздел проекта АР (архитектурные решения), а именно планировки 1 и 2 этажей с размерами, планы 4-х фасадов, разрез дома, схема кровли, чертежи можно отправить на нашу почту info@stroy-dom.pro также в заявке необходимо указать, где находится ваш участок и оставить контактный номер для связи. Мы рассчитаем стоимость работ и материалов и отправим смету на почту.
          .accordion-item.empty.blue
            .accordion-item__title
              span 
                | Нужен ли отдельный проект фундамента?

            .accordion-item__content(style="display: none;")
              p Основная цель встречи в нашем офисе — это личное знакомство и обсуждение вашего проекта. Мы расскажем, как будут проводиться работы на объекте, продемонстрируем выполненные объекты со сметами на строительство, также мы сможем обсудить ваш проект, дадим свои комментарии по возможным вариантам оптимизации затрат на строительство и выбору строительных материалов.
          .accordion-item.empty.blue
            .accordion-item__title
              span 
                | Нужно ли мне разрешение на строительство дома в 2019 г.?

            .accordion-item__content(style="display: none;")
              p Перед подписанием договора мы выезжаем на объект для осмотра участка застройки – для начала работ необходимо обеспечить подъездные пути к пятну застройки на участке, также потребуется бытовка для бригады строителей, питьевая и техническая вода и электричество не менее 3 КВт. Если все условия для строительства обеспечены мы согласовываем с клиентом сроки начала работ и подписываем договор.
        
        h3 3.  Полезные статьи
