extends ../_layout

block container
  include ../../components/_intro.pug
  include ../../components/_advantages.pug
  include ../../components/_popular_projects.pug
  include ../../components/_calculator.pug
  include ../../components/_our_works.pug
  include ../../components/_about.pug
  include ../../components/_news.pug
  include ../../components/_map.pug
