extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper
    .breadcrumbs
      ul
        li
          a(href="./index.html") Главная
        li
          b /
        li
          span Наши объекты

    .object-page
      .content-wrapper
        .content-title
          h1
            | Наши объекты
          h3.sub-title
            | Подзаголовок
        .objects-content
          a.object-item.empty(href="./object.html")
            span.photo
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/house_photo.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p 170 м2
                  span.floors
                    p 170 м2
            span.object-info
              p Коттеджный поселок «Новый Петербург»

        include ../../components/_pagination
