extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper
    .breadcrumbs
      ul
        li
          a(href="./index.html") Главная
        li
          b /
        li
          span Наши объекты

    .object-page
      .content-wrapper
        .content-title
          h1
            | Наши объекты
          h3.sub-title
            | Подзаголовок
        .objects-content.four-in-row
          //- a.object-item.empty(href="./object.html")
          //-   span.photo
          //-     span.hide-info
          //-       span.object-info__sizes
          //-         span.square
          //-           p 170 м2
          //-         span.frame
          //-           p 170 м2
          //-         span.floors
          //-           p 170 м2
          //-   span.object-info
          //-     p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo3.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Каркас
                  span.floors
                    p 2 этажа
            span.object-info
              p п. Белоостров
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo1.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Газобетон
                  span.floors
                    p 2 этажа
            span.object-info
              p п. Белоостров
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo2.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Брус
                  span.floors
                    p 1 этаж
            span.object-info
              p д. Грузино
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo3.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Каркас
                  span.floors
                    p 2 этажа
            span.object-info
              p п. Белоостров
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo1.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Газобетон
                  span.floors
                    p 2 этажа
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo2.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Брус
                  span.floors
                    p 1 этаж
            span.object-info
              p д. Грузино
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo3.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Каркас
                  span.floors
                    p 2 этажа
            span.object-info
              p п. Белоостров
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo1.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Газобетон
                  span.floors
                    p 2 этажа
            span.object-info
              p Коттеджный поселок «Новый Петербург»
          a.object-item(href="./object.html")
            span.photo
              img(src="assets/images/object_photo2.jpg", alt="")
              span.hide-info
                span.object-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Брус
                  span.floors
                    p 1 этаж
            span.object-info
              p д. Грузино

        //- include ../../components/_pagination
