extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper
    .breadcrumbs
      ul
        li
          a(href="./index.html") СтройДом
        li
          b /
        li
          span Каталог проектов

    .projects-catalogue
      .content-wrapper
        .content-title
          h1
            | Каталог проектов
          //- h3.sub-title
            | Подзаголовок
            
        .projects-filter
          form
            .projects-filter__item
              label Материал стен
              select
                each mat_item in ["Газобетон", "Каркас"]
                  option(value="")= mat_item
            .projects-filter__item
              label Общая площадь
              select
                each square_item in ["до 100", "100-250"]
                  option(value="")
                    = square_item
                    | &nbsp;м
                    sup 2
                option(value="")
                  | 250 м
                  sup 2
                  | &nbsp;и более
            .projects-filter__item
              label Количество этажей
              select
                each floor_item in ["1 этаж", "2 этажа"]
                  option(value="")= floor_item
            .projects-filter__item
              button.button Подобрать
    
        .projects-block
          - for (i = 0; i < 3; i++)
            a.project-item(href="project.html")
              span.photo
                img(src="assets/images/house_photo1.jpg", alt="")
              span.hide-content
                span.link Подробнее
                p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
              span.project-info
                span.project-info__main
                  p Дрезден
                  p 9 500 000 ₽
                span.project-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Газобетон
                  span.floors
                    p 2 этажа
            a.project-item(href="project.html")
              span.photo
                img(src="assets/images/house_photo.jpg", alt="")
              span.hide-content
                span.link Подробнее
                p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
              span.project-info
                span.project-info__main
                  p Кельн
                  p 9 000 000 ₽
                span.project-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Тёплая керамика
                  span.floors
                    p 2 этажа
            a.project-item(href="project.html")
              span.photo
                img(src="assets/images/house_photo1.jpg", alt="")
              span.hide-content
                span.link Подробнее
                p Проект двухэтажного дома 10 на 12 метров, общей площадью 170 м2, из газобетона, c террасой, котельной и кухней-столовой
              span.project-info
                span.project-info__main
                  p Мюнхен
                  p 30 000 ₽
                span.project-info__sizes
                  span.square
                    p 170 м2
                  span.frame
                    p Брус
                  span.floors
                    p 2 этажа
        
        // include ../../components/_pagination
