extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper
    .breadcrumbs
      ul
        li
          a(href="./index.html") СтройДом
        li
          b /
        li
          span Услуги
  
  .services
    .content-wrapper
      .content-title
        h1
          | Наши услуги
      .content-text
        h3 На сегодняшний день компания «СтройДом» является одним из лидеров среди разработчиков проектов малоэтажных домов в России.

        p Наш коллектив состоит из профессионалов своего дела, мы любим свою работу и делаем все возможное, чтобы каждый, кто мечтает о собственном доме, смог найти желаемый вариант в обширной базе проектов компании «СтройДом».

        p Если Вам потребуется помощь в выборе проекта - смело обращайтесь к нашим консультантам в офисах продаж, воспользуйтесь окном онлайн-консультирования (как правило, расположено в правом нижнем углу каждой страницы) или свяжитесь с нами иными доступными способами.

  include ../../components/_services_list
