extends ../_layout

block header
  include ../../base/_header_inner


block container
  .content-wrapper
    .breadcrumbs
      ul
        li
          a(href="./index.html") СтройДом
        li
          b /
        li
          a(href="./services.html") Услуги
        li
          b /
        li
          span Ленточный фундамент
  
  .service-view
    .content-wrapper
      .content-title
        h1
          | Фундамент монолитная плита
      .content-text
        h3 Что такое ленточный фундамент

        p Что такое фундамент дома, наверное, знает каждый человек. Фундамент в понятии строительства - это подземная часть здания (сооружения), воспринимающая нагрузки и передающая их на основание. Основание- это пласты плотного грунта.

        p Верхняя плоскость фундамента, на которой располагаются надземные части здания или сооружения, называется поверхностью фундамента или обрезом, а нижняя его плоскость, непосредственно соприкасающаяся с основанием - подошвой фундамента.

        p Ленточный фундамент – это железобетонная полоса, идущая по периметру всего здания. Ленту закладывают под все внутренние и наружные стены застройки, сохраняя одинаковую форму поперечного сечения по всему периметру фундамента.

        p Технология строительства ленточного фундамента достаточно проста по сравнению с плитным или свайным фундаментом. Но ей свойственна повышенная трудоёмкость и большой расход материала в сравнении со столбчатым видом фундаментов (больший объем бетона, большее количество опалубки, обязательное применение крана).
        
    include ../../components/_objects
    include ../../components/_service_advantages
    include ../../components/_calculator
    include ../../components/_video
    include ../../components/_order
