.accordion {

  &-item {
    margin: 0 10px 22px;

    &.walls {
      
      .accordion-item__title {
        background-position: 0 -34px;
      }
    }

    &__title {

      span {
        padding-right: 40px;
        line-height: 20px;
        width: 100%;

        b {
          display: block;
        }
      }
    }
  }
}

.content-accordion {

  h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

.project-page {
  .accordion {

    &-item {
      margin: 0 20px 22px;
    }
  }
}

.description-block {
  
  .accordion-item {
    margin: 0 0 22px;

    &__title {
      display: block;
    }
  }
}
